* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Comic Neue", sans-serif;
    font-weight: bold;
    width: auto;
    position: relative;
}

/* Navbar Below */
nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

#page-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    width: 620px;
    height: 40px;
    padding: 5px 30px;
}

#logo a {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
}

#logo a span {
    color: #fa0;
}

#join {
    font-family: "Comic Neue", sans-serif;
    color: #fff;
    background-color: #fa0;
    box-shadow: 3px 3px #000;
    margin: 0px 5px;
    width: 50px;
    height: 25px;
}

#login {
    font-family: "Comic Neue", sans-serif;
    color: #fff;
    background-color: #159;
    box-shadow: 3px 3px #000;
    margin: 0px 5px;
    width: 50px;
    height: 25px;
}

#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fda;
    width: 620px;
    height: 100px;
    padding: 20px 30px;
}

#search-bar input {
    color:#fff;
    cursor: pointer;
    height: 2.3rem;
    width: 10rem;
    border-right: none;
    border-radius: 5rem 0 0 5rem ;
    padding-left: 10px;
}


#search-bar button {
    float: right;
    color:#fff;
    background-color: #159;
    font-size: 15px;
    cursor: pointer;
    height: 2.5rem;
    width: 3rem;
    padding: 10px 10px;
    border-radius:  0 5rem 5rem 0 ;
}

#nav-links a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color:#000;
}

#nav-links a img {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
}
/* Navbar Above */

main {
    display: flex;
    justify-content: space-between;
    width: 680px;
    margin: 0px auto;
}

/* Article Below */
main section {
    padding-top: 20px;
}

#recipe-card {
    background-color: #ddd;
    height: 480px;
    text-align: center;
    padding: 10px;
}

#recipe-card div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

#recipe-card .dessert {
    width: 450px;
    height: 340px;
    padding-top: 10px;
}


#recipe-card figcaption {
    text-align: left;
}

#recipe-card .loved {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
}

#recipe-card .loved .heart {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
/* Article Above */

/* Sidebar Below */
#recommendation-card hr {
    margin-top: 5px;
    margin-bottom: 15px;
}

.recommendation-image {
    width: 200px;
    height: 130px;
}

.loved {
    width: 15px;
    height: 15px;
}

#recommendation-card div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

#recommendation-card .loved {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

#recommendation-card .loved .heart {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
/* Sidebar Above */