/*CSS reset settings here*/
    *{
    margin: 0px 0px;
    padding: 0px;
    }
    #wrapper{
    width: 980px ;
    height: 630px;
    background-color: silver;
    margin: 10px auto;
    }
    #header{
    width: 933px; 
    min-height: 150px;
    background-color: green;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    }
    #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin: 0px 10px;
    padding: 10px;
    display: inline-block;
    }
    #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    margin: 0px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    }
    .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 10px 0px 10px 10px;
    padding: 1px;
    }
    #advertisement{
    min-height: 120px;
    width: 655px;
    background-color: purple;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    }